{{#extend "_master-layout"}}
    {{#content "body"}}
        {{#block "header"}}
            {{> ../../components/header/header}}
        {{/block}}
        <main class="main-content">
            {{#block "main-content"}}
            {{/block}}
        </main>
        {{#block "footer"}}
            {{> ../../components/footer/footer}}
        {{/block}}
    {{/content}}
{{/extend}}
