<header class="header">

    <div class="header__content  container">
        <a href="#" class="header__logo">
            <img src="../../../images/logo.svg" alt="logo">
        </a>

        <div class="header__links">
            <a href="#" class="header__link">Calendar</a>
            <a href="#" class="header__link  header__link-active">Plans</a>
            <a href="#" class="header__link">To Do</a>
        </div>
    </div>

</header>
