/* Color pallet */

$black: #000000;
$white: #FFFFFF;
$blue: #484B98;
$grey: #6E6E6E;
$pink: #E8C5ED;
$purple: #FDF1FF;

$mdextralarge: 1199.98px;
$mdlarge: 991.98px;
$mdmedium: 767.98px;
$mdsmall: 575.98px;
